# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# .DS_Store
.DS_Store

*.log

public/bower_components
config/google_config.js
config/mysql_config.js
config/session_config.js
